[submodule "boards/TTGO_4M_ESP32-Oled/src/IDF_TarableSSD1306Test/components/tarablessd1306"]
	path = boards/TTGO_4M_ESP32-Oled/src/IDF_TarableSSD1306Test/components/tarablessd1306
	url = https://github.com/TaraHoleInIt/tarablessd1306.git
[submodule "boards/ESP32Cam/src/esp32-cam-demo"]
	path = boards/ESP32Cam/src/esp32-cam-demo
	url = https://github.com/igrr/esp32-cam-demo.git
[submodule "boards/TTGO_LoRa32-Oled/src/TTGO_Examples/OLED_LoRa_Receiver/esp8266-oled-ssd1306"]
	path = boards/TTGO_LoRa32-Oled/src/TTGO_Examples/OLED_LoRa_Receiver/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306
[submodule "boards/TTGO_LoRa32-Oled/src/TTGO_Examples/OLED_LoRa_Receiver/arduino-LoRa"]
	path = boards/TTGO_LoRa32-Oled/src/TTGO_Examples/OLED_LoRa_Receiver/arduino-LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa
[submodule "boards/TTGO_LoRa32-Oled/lib/arduino-LoRa"]
	path = boards/TTGO_LoRa32-Oled/lib/arduino-LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa
[submodule "boards/TTGO_LoRa32-Oled/lib/esp8266-oled-ssd1306"]
	path = boards/TTGO_LoRa32-Oled/lib/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306
[submodule "boards/TTGO_LoRa32-Oled/lib/OledTable"]
	path = boards/TTGO_LoRa32-Oled/lib/OledTable
	url = https://github.com/sfambach/OledTable
[submodule "boards/TTGO_ESP32_T-Writsband/lib/TFT_eSPI"]
	path = boards/TTGO_ESP32_T-Writsband/lib/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI
[submodule "boards/TTGO_ESP32_T-Writsband/src/LilyGo-T-Wristband"]
	path = boards/TTGO_ESP32_T-Writsband/src/LilyGo-T-Wristband
	url = https://github.com/Xinyuan-LilyGO/LilyGo-T-Wristband
	branch = master
[submodule "boards/TTGO_ESP32_T-Writsband/lib/PCF8563_Library"]
	path = boards/TTGO_ESP32_T-Writsband/lib/PCF8563_Library
	url = https://github.com/lewisxhe/PCF8563_Library
[submodule "boards/TTGO_ESP32_T-Writsband/lib/WiFiManager"]
	path = boards/TTGO_ESP32_T-Writsband/lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager
[submodule "boards/TTGO_HiGrow/src/TTGO-T-HIGrow"]
	path = boards/TTGO_HiGrow/src/TTGO-T-HIGrow
	url = https://github.com/pesor/TTGO-T-HIGrow.git
[submodule "boards/TTGO_HiGrow/src/LilyGo-HiGrow"]
	path = boards/TTGO_HiGrow/src/LilyGo-HiGrow
	url = https://github.com/Xinyuan-LilyGO/LilyGo-HiGrow.git
[submodule "boards/HighGrow/lib/pubsubclient"]
	path = boards/HighGrow/lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "boards/TTGO_HiGrow/lib/AsyncTCP"]
	path = boards/TTGO_HiGrow/lib/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "boards/TTGO_HiGrow/lib/ESPAsyncWebServer"]
	path = boards/TTGO_HiGrow/lib/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "boards/TTGO_HiGrow/lib/ESP-DASH"]
	path = boards/TTGO_HiGrow/lib/ESP-DASH
	url = https://github.com/ayushsharma82/ESP-DASH.git
[submodule "boards/TTGO_HiGrow/lib/Button2"]
	path = boards/TTGO_HiGrow/lib/Button2
	url = https://github.com/LennartHennigs/Button2.git
[submodule "boards/TTGO_HiGrow/lib/BH1750"]
	path = boards/TTGO_HiGrow/lib/BH1750
	url = https://github.com/claws/BH1750.git
[submodule "boards/TTGO_HiGrow/lib/DHT12_sensor_library"]
	path = boards/TTGO_HiGrow/lib/DHT12_sensor_library
	url = https://github.com/xreef/DHT12_sensor_library.git
[submodule "boards/TTGO_HiGrow/lib/dht11"]
	path = boards/TTGO_HiGrow/lib/dht11
	url = https://github.com/adidax/dht11.git
[submodule "src/HiGrowMQTT/lib/ArduinoMqtt"]
	path = src/HiGrowMQTT/lib/ArduinoMqtt
	url = https://github.com/monstrenyatko/ArduinoMqtt.git
[submodule "project/LoraGPSRangeTest/lib/TinyGPSPlus"]
	path = project/LoraGPSRangeTest/lib/TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus.git
[submodule "project/LoraGPSRangeTest/lib/arduino-LoRa"]
	path = project/LoraGPSRangeTest/lib/arduino-LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa.git
[submodule "project/LoraGPSRangeTest/lib/esp8266-oled-ssd1306"]
	path = project/LoraGPSRangeTest/lib/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306.git
[submodule "project/LoraGPSRangeTest/lib/pubsubclient"]
	path = project/LoraGPSRangeTest/lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "project/LoraGPSRangeTest/lib/OledTable"]
	path = project/LoraGPSRangeTest/lib/OledTable
	url = https://github.com/sfambach/OledTable.git
[submodule "boards/TTGO_T-Beam/lib/arduino-LoRa"]
	path = boards/TTGO_T-Beam/lib/arduino-LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa
[submodule "boards/TTGO_T-Beam/lib/esp8266-oled-ssd1306"]
	path = boards/TTGO_T-Beam/lib/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306
[submodule "boards/TTGO_T-Beam/lib/pubsubclient"]
	path = boards/TTGO_T-Beam/lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient
[submodule "boards/TTGO_T-Beam/lib/TinyGPSPlus"]
	path = boards/TTGO_T-Beam/lib/TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus
[submodule "boards/TTGO_T-Beam/lib/AXP202X_Library"]
	path = boards/TTGO_T-Beam/lib/AXP202X_Library
	url = https://github.com/lewisxhe/AXP202X_Library
[submodule "boards/--force"]
	path = boards/--force
	url = https://github.com/sfambach/TTGO_T-Beam
[submodule "boards/-name"]
	path = boards/-name
	url = https://github.com/sfambach/TTGO_T-Beam
[submodule "boards/-name=TTGO_T-Beam"]
	path = boards/-name=TTGO_T-Beam
	url = https://github.com/sfambach/TTGO_T-Beam
[submodule "project/esp32-ble-joystick"]
	path = project/esp32-ble-joystick
	url = https://github.com/sfambach/esp32-ble-joystick.git
	branch = master
[submodule "project/T-Wristband"]
	path = project/T-Wristband
	url = https://github.com/Xinyuan-LilyGO/T-Wristband.git
	branch = master
